# Generate new keys: https://travistidwell.com/jsencrypt/demo/
# Base64 encode the keys: https://www.base64encode.org/

# Base64 ENCODED ACCESS & REFRESH TOKEN PRIVATE AND PUBLIC KEYs
ACCESS_TOKEN_PRIVATE_KEY=""
ACCESS_TOKEN_PUBLIC_KEY=""
REFRESH_TOKEN_PRIVATE_KEY=""
REFRESH_TOKEN_PUBLIC_KEY=""

# ACCES AND REFRESH TOKENS TIMES TO LIVE
ACCESS_TOKEN_TIME_TO_LIVE=""
REFRESH_TOKEN_TIME_TO_LIVE=""

SALT_ROUNDS=""
NODE_ENV=""
MONGO_URI=""

# SECRET KEY FOR RESETING PASSWORDS
SECRET_KEY=""

# EMAIL CONFIGURATION DETAILS(SMTP/GOOGLE)
AUTH_EMAIL=""
AUTH_PASS=""

# CLOUDINARY KEYS 
CLOUD_NAME=""
API_KEY=""
API_SECRET=""
